# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
__MACOSX/
*/.ipynb_checkpoints

# Dataset
*/datasets/*

# Distribution / packaging
.Python
lib/
lib64/
wheels/
pip-wheel-metadata/
MANIFEST